@model InterviewTracker.BusinessLayer.ViewModels.UserEditViewModel
@{
    ViewData["Title"] = "EditUser";
}

    <div class="card" style="width:60%; margin:auto;">
        <div class="card-header bg-success text-white">
            <h5>Update User</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { autofocus = "", @class = "form-control" })
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { autofocus = "", @class = "form-control" })
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportingTo)
                            @Html.TextBoxFor(m => m.ReportingTo, new { @class = "form-control" })
                            <span asp-validation-for="ReportingTo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserTypes)
                            @Html.EnumDropDownListFor(m => m.UserTypes, new { @class = "custom-select mr-sm-2 form-control" })
                            <span asp-validation-for="UserTypes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Stat)
                            @Html.EnumDropDownListFor(m => m.Stat, new {@class = "custom-select mr-sm-2 form-control" })
                            <span asp-validation-for="Stat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.MobileNumber)
                            @Html.TextBoxFor(m => m.MobileNumber, new { autofocus = "", @class = "form-control" })
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "User")';return false;">Back To User List</button>
                </div>
            }
        </div>
    </div>