@model InterviewTracker.Entities.Interview
@{
    ViewData["Title"] = "DeleteInterview";
}

<h3 class="text-center text-uppercase">Delete Interview Record</h3>
<div class="card" style="width:50%; margin:auto;">
    <div class="card-header bg-danger text-white">
        <h3>Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Interviewer)
                    </dt>

                    <dd class="col-md-10">
                        @Html.DisplayFor(model => model.Interviewer)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.InterviewName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterviewName)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.InterviewUser)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterviewUser)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserSkills)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserSkills)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.InterviewDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterviewDate)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.InterviewTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterviewTime)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.InterViewsStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterViewsStatus)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.TInterViews)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TInterViews)
                    </dd>
                </dl>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>